In [60]:
import pandas as pd
import numpy as np

columns = ['gender', 'age', 'debt', 'marital', 'bank_customer', 'education', 'ethnicity', 'years_employed', 
           'prior_default', 'employed', 'credit', 'license', 'citizen', 'zip', 'income', 'approved']
credit = pd.read_csv('C:/Users/rbarr/Desktop/Ironhack/repos/crx.data', names = columns, na_values = '?')
credit.head()

,gender,age,debt,marital,bank_customer,education,ethnicity,years_employed,prior_default,employed,credit,license,citizen,zip,income,approved
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,202.0,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,43.0,560,+
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,280.0,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,100.0,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,120.0,0,+

In [42]:
credit.shape

(690, 16)

In [43]:
credit.dtypes

gender             object
age               float64
debt              float64
marital            object
bank_customer      object
education          object
ethnicity          object
years_employed    float64
prior_default      object
employed           object
credit              int64
license            object
citizen            object
zip               float64
income              int64
approved           object
dtype: object

In [35]:
credit['gender'].value_counts()

b    468
a    210
Name: gender, dtype: int64

In [36]:
credit.loc[credit['gender'] == 'a', 'gender'] = 0
credit.loc[credit['gender'] == 'b', 'gender'] = 1

credit['gender'].value_counts()

1    468
0    210
Name: gender, dtype: int64

In [37]:
credit['marital'].value_counts()

u    519
y    163
l      2
Name: marital, dtype: int64

In [38]:
credit.loc[credit['marital'] == 'l', 'marital'] = None
credit.loc[credit['marital'] == 'u', 'marital'] = 1
credit.loc[credit['marital'] == 'y', 'marital'] = 0

credit['marital'].value_counts()

1    519
0    163
Name: marital, dtype: int64

In [40]:
credit['bank_customer'].value_counts()

g     519
p     163
gg      2
Name: bank_customer, dtype: int64

In [41]:
credit.loc[credit['bank_customer'] == 'gg', 'bank_customer'] = None
credit.loc[credit['bank_customer'] == 'g', 'bank_customer'] = 1
credit.loc[credit['bank_customer'] == 'p', 'bank_customer'] = 0

credit['bank_customer'].value_counts()

1    519
0    163
Name: bank_customer, dtype: int64

In [33]:
credit['education'].value_counts()

c     137
q      78
w      64
i      59
aa     54
ff     53
k      51
cc     41
x      38
m      38
d      30
e      25
j      10
r       3
Name: education, dtype: int64

In [45]:
credit['ethnicity'].value_counts()

v     399
h     138
bb     59
ff     57
z       8
j       8
dd      6
n       4
o       2
Name: ethnicity, dtype: int64

In [46]:
credit['prior_default'].value_counts()

t    361
f    329
Name: prior_default, dtype: int64

In [48]:
credit.loc[credit['prior_default'] == 't', 'prior_default'] = 1
credit.loc[credit['prior_default'] == 'f', 'prior_default'] = 0

credit['prior_default'].value_counts()

1    361
0    329
Name: prior_default, dtype: int64

In [49]:
credit['employed'].value_counts()

f    395
t    295
Name: employed, dtype: int64

In [50]:
credit.loc[credit['employed'] == 't', 'employed'] = 1
credit.loc[credit['employed'] == 'f', 'employed'] = 0

credit['employed'].value_counts()

0    395
1    295
Name: employed, dtype: int64

In [66]:
(credit['credit'].value_counts() / credit.shape[0] < .01)

0     False
1     False
2     False
3     False
6     False
11    False
5     False
7     False
4     False
8     False
9     False
14    False
12    False
10    False
15     True
16     True
17     True
20     True
40     True
13     True
19     True
23     True
67     True
Name: credit, dtype: bool

In [31]:
Male          : num  1 1 0 0 0 0 1 0 0 0 ...
Age           : chr  "58.67" "24.50" "27.83" "20.17" ...
Debt          : num  4.46 0.5 1.54 5.62 4 ...
Married       : chr  "u" "u" "u" "u" ...
BankCustomer  : chr  "g" "g" "g" "g" ...
EducationLevel: chr  "q" "q" "w" "w" ...
Ethnicity     : chr  "h" "h" "v" "v" ...
YearsEmployed : num  3.04 1.5 3.75 1.71 2.5 ...
PriorDefault  : num  1 1 1 1 1 1 1 1 1 0 ...
Employed      : num  1 0 1 0 0 0 0 0 0 0 ...
CreditScore   : num  6 0 5 0 0 0 0 0 0 0 ...
DriversLicense: chr  "f" "f" "t" "f" ...
Citizen       : chr  "g" "g" "g" "s" ...
ZipCode       : chr  "00043" "00280" "00100" "00120" ...
Income        : num  560 824 3 0 0 ...
Approved      : chr  "+" "+" "+" "+" ...

SyntaxError: invalid syntax (<ipython-input-31-7b8d1fa76fd7>, line 1)