# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [114]:
import pandas as pd
import numpy as np
from sklearn import datasets

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [115]:
diabetes = datasets.load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [116]:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [117]:
print(diabetes['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

In [118]:
# Features: age, sex, bmi, avg bp, and six blood samples (s1-6)
# Target: disease progression measure

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [119]:
diabetes['data'].shape

(442, 10)

In [120]:
diabetes['target'].shape

(442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

Initialize the model in the variable `diabetes_model`

In the cell below, fit the model and print the intercept and coefficients of the model.

In [121]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

diabetes_sk = LinearRegression().fit(X, y)

print(f'The regression model intercept is {diabetes_sk.intercept_}')
print(f'The regression model coefficients are {diabetes_sk.coef_}, respectively')

The regression model intercept is -14.535250480506104
The regression model coefficients are [-3.29859089e-01  7.67843024e-03 -3.91355574e-04 -6.79461791e-03
  8.52732469e-02  7.53367180e-01], respectively

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [122]:
from statsmodels.formula.api import ols

diabetes_sm = ols('y ~ X', data = diabetes).fit()
diabetes_sm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.809
Model:                            OLS   Adj. R-squared:                  0.806
Method:                 Least Squares   F-statistic:                     272.2
Date:                Wed, 02 Oct 2019   Prob (F-statistic):          3.79e-135
Time:                        09:22:34   Log-Likelihood:                -1036.5
No. Observations:                 392   AIC:                             2087.
Df Residuals:                     385   BIC:                             2115.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -14.5353      4.764     -3.051      0.002     -23.902      -5.169
X[0]          -0.3299      0.332     -0.993      0.321      -0.983       0.323
X[1]           0.0077      0.007      1.044      0.297      -0.007       0.022
X[2]          -0.0004      0.014     -0.028      0.977      -0.028       0.027
X[3]          -0.0068      0.001    -10.141      0.000      -0.008      -0.005
X[4]           0.0853      0.102      0.836      0.404      -0.115       0.286
X[5]           0.7534      0.053     14.318      0.000       0.650       0.857
==============================================================================
Omnibus:                       37.865   Durbin-Watson:                   1.232
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               60.248
Skew:                           0.630   Prob(JB):                     8.26e-14
Kurtosis:                       4.449   Cond. No.                     8.53e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.53e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [123]:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [124]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [125]:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

In [127]:
auto['car_name'] = auto['car_name'].str.strip('\t"')
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,ford torino

In [132]:
auto.shape

(398, 8)

What is the newest model year and the oldest model year?

In [129]:
auto.describe()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

Check the dataset for missing values and remove all rows containing at least one missing value.

In [141]:
auto = auto[auto.isnull().any(axis=1) == False]

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [142]:
auto['cylinders'].value_counts().size

5

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [144]:
auto.drop(columns = 'car_name', inplace = True)

In [145]:
from sklearn.model_selection import train_test_split

X = auto.iloc[:, [i != 'mpg' for i in auto.columns]]
y = auto[['mpg']]

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .8)

In [146]:
X_train

     cylinders  displacement  horse_power  weight  acceleration  model_year
139          8         302.0        140.0    4638          16.0          74
244          4          90.0         48.0    1985          21.5          78
119          4         114.0         91.0    2582          14.0          73
217          4         111.0         80.0    2155          14.8          77
372          4         151.0         90.0    2735          18.0          82
..         ...           ...          ...     ...           ...         ...
384          4          91.0         67.0    1965          15.7          82
116          8         400.0        230.0    4278           9.5          73
129          4          79.0         67.0    1950          19.0          74
199          6         225.0        100.0    3651          17.7          76
288          8         318.0        135.0    3830          15.2          79

[313 rows x 6 columns]

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

Next, fit the model in the cell below.

In [149]:
auto_sk = LinearRegression().fit(X_train, y_train)

print(f'The regression model intercept is {auto_sk.intercept_}')
print(f'The regression model coefficients are {auto_sk.coef_}, respectively')

The regression model intercept is [-18.18163529]
The regression model coefficients are [[ 0.0749631   0.00151569  0.01009578 -0.00716549  0.08128654  0.78970524]], respectively

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [150]:
mse = mean_squared_error(y_train, auto_sk.predict(X_train))
rmse = mse**.5
r2 = r2_score(y_train, auto_sk.predict(X_train))

print(f'Measures of accuracy:\n')
print(f'MSE = {round(mse, 4)}')
print(f'RMSE = {round(rmse, 4)}')
print(f'R^2 = {round(r2, 4)}')

Measures of accuracy:

MSE = 11.5526
RMSE = 3.3989
R^2 = 0.8095

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [151]:
mse = mean_squared_error(y_test, auto_sk.predict(X_test))
rmse = mse**.5
r2 = r2_score(y_test, auto_sk.predict(X_test))

print(f'Measures of accuracy:\n')
print(f'MSE = {round(mse, 4)}')
print(f'RMSE = {round(rmse, 4)}')
print(f'R^2 = {round(r2, 4)}')

Measures of accuracy:

MSE = 12.1584
RMSE = 3.4869
R^2 = 0.8014

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [152]:
X_train90, X_test90, y_train90, y_test90 = train_test_split(X, y, train_size = .9)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [153]:
auto_sk = LinearRegression().fit(X_train90, y_train90)

print(f'The regression model intercept is {auto_sk.intercept_}')
print(f'The regression model coefficients are {auto_sk.coef_}, respectively')

The regression model intercept is [-14.83747572]
The regression model coefficients are [[-0.24113705  0.00698031 -0.00216627 -0.00684071  0.12209514  0.74920824]], respectively

Compute the predicted values and r squared score for our new model and new sample data.

In [154]:
mse = mean_squared_error(y_train90, auto_sk.predict(X_train90))
rmse = mse**.5
r2 = r2_score(y_train90, auto_sk.predict(X_train90))

print(f'Measures of accuracy:\n')
print(f'MSE = {round(mse, 4)}')
print(f'RMSE = {round(rmse, 4)}')
print(f'R^2 = {round(r2, 4)}')

Measures of accuracy:

MSE = 12.1467
RMSE = 3.4852
R^2 = 0.8013

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [155]:
mse = mean_squared_error(y_test90, auto_sk.predict(X_test90))
rmse = mse**.5
r2 = r2_score(y_test90, auto_sk.predict(X_test90))

print(f'Measures of accuracy:\n')
print(f'MSE = {round(mse, 4)}')
print(f'RMSE = {round(rmse, 4)}')
print(f'R^2 = {round(r2, 4)}')

Measures of accuracy:

MSE = 6.8805
RMSE = 2.6231
R^2 = 0.8799

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [156]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

Fit the model and print the ranking

In [160]:
selector = RFE(LinearRegression(), 3).fit(X, y)
selector.ranking_

C:\Users\rbarr\Miniconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([1, 2, 4, 3, 1, 1])

In [162]:
selector.support_

array([ True, False, False, False,  True,  True])

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [163]:
X = auto.iloc[:, [i != 'mpg' for i in auto.columns]].iloc[:, selector.support_]
y = auto[['mpg']]

X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X, y, train_size = .8)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [165]:
auto_sk = LinearRegression().fit(X_train_reduced, y_train_reduced)
mse = mean_squared_error(y_train_reduced, auto_sk.predict(X_train_reduced))
rmse = mse**.5
r2 = r2_score(y_train_reduced, auto_sk.predict(X_train_reduced))

print(f'The regression model intercept is {auto_sk.intercept_}')
print(f'The regression model coefficients are {auto_sk.coef_}, respectively')
print(f'Measures of accuracy:\n')
print(f'MSE = {round(mse, 4)}')
print(f'RMSE = {round(rmse, 4)}')
print(f'R^2 = {round(r2, 4)}')

The regression model intercept is [-15.22014265]
The regression model coefficients are [[-2.97425863  0.01423458  0.72114291]], respectively
Measures of accuracy:

MSE = 18.3655
RMSE = 4.2855
R^2 = 0.7011

In [166]:
mse = mean_squared_error(y_test_reduced, auto_sk.predict(X_test_reduced))
rmse = mse**.5
r2 = r2_score(y_test_reduced, auto_sk.predict(X_test_reduced))

print(f'MSE = {round(mse, 4)}')
print(f'RMSE = {round(rmse, 4)}')
print(f'R^2 = {round(r2, 4)}')

MSE = 13.2674
RMSE = 3.6424
R^2 = 0.7672