In [8]:
import pandas as pd

table = {'site_version': [1, 2, 1, 2], 
        'customer_group': ['millenial', 'millenial', 'genz', 'genz'], 
        'purchase': [350, 150, 400, 100], 
        'no_purchase': [550, 100, 450, 300]}

data = pd.DataFrame(table)

In [12]:
data

   site_version customer_group  purchase  no_purchase
0             1      millenial       350          550
1             2      millenial       150          100
2             1           genz       400          450
3             2           genz       100          300

In [ ]:
# prob of customer making purchase given they are a millenial and looking at site version 1

P(purchase | version1, millenial) = P(purchase ∩ version1, millenial) / P(version1, millenial)
P(purchase | version1, millenial) ∝ P(purchase ∩ version1, millenial)
P(purchase | version1, millenial) ∝ P(purchase) * P(version1 | purchase) * P(millenial | purchase)

In [14]:
P_pu = data['purchase'].sum() / (data['purchase'].sum() + data['no_purchase'].sum())
P_pu

0.4166666666666667

In [15]:
P_v1Gpu = data.loc[data['site_version'] == 1, 'purchase'].sum() / data['purchase'].sum()
P_v1Gpu

0.75

In [16]:
P_miGpu = data.loc[data['customer_group'] == 'millenial', 'purchase'].sum() / data['purchase'].sum()
P_miGpu

0.5

In [20]:
PpuGv1mi = P_pu * P_v1Gpu * P_miGpu
print(f'P(purchase | version1, millenial) ∝ {PpuGv1mi}.')

P(purchase | version1, millenial) ∝ 0.15625.

In [23]:
P_no = data['no_purchase'].sum() / (data['purchase'].sum() + data['no_purchase'].sum())
P_v1Gno = data.loc[data['site_version'] == 1, 'no_purchase'].sum() / data['no_purchase'].sum()
P_miGno = data.loc[data['customer_group'] == 'millenial', 'no_purchase'].sum() / data['no_purchase'].sum()
PnoGv1mi = P_no * P_v1Gno * P_miGno
print(f'P(nopurchase | version1, millenial) ∝ {PnoGv1mi}.')

P(nopurchase | version1, millenial) ∝ 0.19345238095238096.