# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [2]:
import requests as r
from bs4 import BeautifulSoup as bs
import pandas as pd
import re
import random
import lxml
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [3]:
url = 'https://github.com/trending/developers'
soup = bs(r.get(url).content, 'lxml')
developers = pd.Series([str(i) for i in soup.find_all('h1', {'class': 'h3 lh-condensed'})])
developers = developers.str.replace('<h1 class="h3 lh-condensed"><a href="/', '').str.replace('">', ' (').str.replace('</a></h1>', ')').to_list()

developers

['mafintosh (Mathias Buus)',
 'vitorgalvao (Vítor Galvão)',
 'ZacSweers (Zac Sweers)',
 'XhmikosR (XhmikosR)',
 'philsturgeon (Phil Sturgeon)',
 'DanTup (Danny Tuppeny)',
 'kishikawakatsumi (Kishikawa Katsumi)',
 'scottaddie (Scott Addie)',
 'mpociot (Marcel Pociot)',
 'bcoe (Benjamin E. Coe)',
 'qwwdfsad (Vsevolod Tolstopyatov)',
 'MarshallOfSound (Samuel Attard)',
 'amueller (Andreas Mueller)',
 'rogpeppe (Roger Peppe)',
 'grosser (Michael Grosser)',
 'timothycrosley (Timothy Edmund Crosley)',
 'kripken (Alon Zakai)',
 'fzaninotto (Francois Zaninotto)',
 'etpinard ( Étienne Tétreault-Pinard)',
 'ycjcl868 (信鑫-King)',
 'hanxiao (Han Xiao)',
 'prescottprue (Scott Prue)',
 'artf (Artur Arseniev)',
 'mathiasbynens (Mathias Bynens)',
 'ekg (Erik Garrison)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [4]:
url = 'https://github.com/trending/python?since=daily'
soup = bs(r.get(url).content, 'lxml')
repos = pd.Series([str(i) for i in soup.find_all('h1', {'class': 'h3 lh-condensed'})]).str.replace('^(?:.|\n)*href="/', '').str.replace('"(?:.|\n)*$', '').to_list()
repos

['PhantomInsights/mexican-government-report',
 'CorentinJ/Real-Time-Voice-Cloning',
 'yossigandelsman/DoubleDIP',
 'donnemartin/system-design-primer',
 'google-research/bert',
 'public-apis/public-apis',
 'OWASP/CheatSheetSeries',
 'apachecn/AiLearning',
 '30-seconds/30-seconds-of-python',
 'd2l-ai/d2l-en',
 'fighting41love/funNLP',
 'django/django',
 '0voice/interview_internal_reference',
 'tensorflow/models',
 'huggingface/pytorch-transformers',
 'gnebbia/pdlist',
 'tensorflow/agents',
 'd2l-ai/d2l-zh',
 'RasaHQ/rasa',
 'pandas-dev/pandas',
 'Jrohy/multi-v2ray',
 'shadowsocksr-backup/shadowsocksr',
 'tkipf/pygcn',
 'shadowsocks/shadowsocks',
 'mlflow/mlflow']

#### Display all the image links from Walt Disney wikipedia page

In [5]:
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
soup = bs(r.get(url).content, 'lxml')
images = ('https://en.wikipedia.org' + pd.Series([str(i) for i in soup.find_all('a', {'class': 'image'})]).str.replace('^(?:.|\n)*href="', '').str.replace('"(?:.|\n)*$', '')).to_list()
images

['https://en.wikipedia.org/wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org/wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 'https://en.wikipedia.org/wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org/wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org/wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org/wiki/File:Disney_Display_Case.JPG',
 'https://en.wikipedia.org/wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org/wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org/wiki/File:P_vip.svg',
 'https://en.wikipedia.org/wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org/wiki/File:Video-x-generic.svg',
 'https://en.wikipedia.org/wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 'https://en.wikipedia.org/wiki/File:Blank_television_set.svg',
 'https://en.wikipedia.org/wiki/File:Flag_of_the_United_States.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [6]:
url ='https://en.wikipedia.org/wiki/Python'
soup = bs(r.get(url).content, 'lxml')
links = pd.Series([str(i) for i in soup.find_all('a') if str(i) != '<a id="top"></a>']).str.replace('^(?:.|\n)*href="', '').str.replace('"(?:.|\n)*$', '')
links[links.str.contains('^#')] = 'https://en.wikipedia.org/wiki/Python' + links
links[links.str.contains('^/{1}[A-z]')] = 'https://en.wikipedia.org/wiki' + links
links[links.str.contains('^/{2}')] = 'https:' + links
links

0           https://en.wikipedia.org/wiki/Python#mw-head
1          https://en.wikipedia.org/wiki/Python#p-search
2                  https://en.wiktionary.org/wiki/Python
3                  https://en.wiktionary.org/wiki/python
4            https://en.wikipedia.org/wiki/Python#Snakes
                             ...
151    https://www.mediawiki.org/wiki/Special:MyLangu...
152    https://foundation.wikimedia.org/wiki/Cookie_s...
153    https://en.m.wikipedia.org/w/index.php?title=P...
154                     https://wikimediafoundation.org/
155                           https://www.mediawiki.org/
Length: 156, dtype: object

#### Number of Titles that have changed in the United States Code since its last release point

In [7]:
url = 'http://uscode.house.gov/download/download.shtml'
soup = bs(r.get(url).content, 'lxml')
titles = pd.Series([str(i) for i in soup.find_all('div', 'usctitlechanged')])
len(titles)

8

#### A Python list with the top ten FBI's Most Wanted names

In [8]:
url = 'https://www.fbi.gov/wanted/topten'
soup = bs(r.get(url).content, 'lxml')
fbi = pd.Series([str(i) for i in soup.find_all('h3', 'title')]).str.split('>')
fbi_names = pd.Series([i[2] for i in fbi]).str.strip('</a').to_list()
fbi_names

['ARNOLDO JIMENEZ',
 'ALEJANDRO ROSALES CASTILLO',
 'YASER ABDEL SAID',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [9]:
url = 'https://www.emsc-csem.org/Earthquake/'
soup = bs(r.get(url).content, 'lxml')

objects = pd.Series([str(i) for i in soup.find_all('tr', 'ligne1 normal')])
date = objects.str.extract('(\d{4}-\d{2}-\d{2})')
time = objects.str.extract('(\d{2}:\d{2}:\d{2}.\d{1})')
latitude = objects.str.extract('(\d+\.\d+\xa0</td><td class="tabev2">[NS])')[0].str.replace('\xa0</td><td class="tabev2">', '')
longitude = objects.str.extract('(\d+\.\d+\xa0</td><td class="tabev2">[EW])')[0].str.replace('\xa0</td><td class="tabev2">', '')

objects = pd.Series([str(i) for i in soup.find_all('td', 'tb_region')])
region = pd.Series([i[1] for i in objects.str.split('>')]).str.strip('</td')

eqs = pd.concat([date, time, latitude, longitude, region], axis = 1)
eqs.columns = ['date', 'time', 'latitude', 'longitude', 'region']
eqs.head(20)

          date        time latitude longitude                        region
0   2019-09-19  17:55:15.0    2.04S    81.04W         NEAR COAST OF ECUADOR
1   2019-09-19  16:51:11.8   38.34N   121.50W                CENTRAL ALASKA
2   2019-09-19  16:43:38.0   19.64N    69.58W           NORTHERN CALIFORNIA
3   2019-09-19  15:42:11.5   30.44S   117.66E      ISLAND OF HAWAII, HAWAII
4   2019-09-19  15:04:22.0   41.84N    14.85E     DOMINICAN REPUBLIC REGION
5   2019-09-19  14:34:54.4   58.36N   155.89W                  TONGA REGION
6   2019-09-19  14:29:59.6   35.06N   117.46W             WESTERN AUSTRALIA
7   2019-09-19  14:07:19.0   21.84S    68.51W                WESTERN TURKEY
8   2019-09-19  13:53:52.8   59.86N   141.01W                SOUTHERN ITALY
9   2019-09-19  13:36:30.0   11.65N    87.16W               SOUTH OF ALASKA
10  2019-09-19  13:16:31.0   31.52S    71.55W              ALASKA PENINSULA
11  2019-09-19  12:49:53.2   35.84N    98.09W             WESTERN AUSTRALIA
12  2019-09-19  12:29:24.0   38.22S    69.55W           SOUTHERN CALIFORNIA
13  2019-09-19  12:06:32.6   42.09N    41.10E   OFFSHORE ANTOFAGASTA, CHILE
14  2019-09-19  11:49:59.0   37.07N     5.23W            ANTOFAGASTA, CHILE
15  2019-09-19  11:19:00.0   35.74N     0.88W             WESTERN AUSTRALIA
16  2019-09-19  10:46:07.9   19.38N   155.42W           SOUTHEASTERN ALASKA
17  2019-09-19  10:32:04.2    5.90S   125.91E         SOUTH OF FIJI ISLANDS
18  2019-09-19  10:10:35.5   35.28N    97.93W       NEAR COAST OF NICARAGUA
19  2019-09-19  10:00:49.9   39.62N    38.62E             WESTERN AUSTRALIA

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [10]:
url ='https://hackevents.co/hackathons'
soup = bs(r.get(url).content, 'lxml')
soup.find_all('p')

# skipped

[]

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [24]:
url = 'https://twitter.com/KimKardashian'
soup = bs(r.get(url).content, 'lxml')

objects = pd.Series([str(i) for i in soup.find_all('span', 'ProfileNav-value')])
tweets = pd.Series([i[1] for i in objects.str.split('>')])[0].strip('\n            </span')
for i in objects:
    print(i)

<span class="ProfileNav-value" data-count="30150" data-is-compact="true">30.2K
            </span>
<span class="ProfileNav-value" data-count="148" data-is-compact="false">148</span>
<span class="ProfileNav-value" data-count="61854742" data-is-compact="true">61.9M</span>
<span class="ProfileNav-value" data-count="87" data-is-compact="false">87</span>
<span class="ProfileNav-value">More <span class="ProfileNav-dropdownCaret Icon Icon--medium Icon--caretDown"></span></span>

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [12]:
url = 'https://twitter.com/KimKardashian'
soup = bs(r.get(url).content, 'lxml')

objects = pd.Series([str(i) for i in soup.find_all('span', 'ProfileNav-value')])
followers = pd.Series([i[1] for i in objects.str.split('>')])[2].strip('</span')
followers

'61.8M'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [13]:
url = 'https://www.wikipedia.org/'
soup = bs(r.get(url).content, 'lxml')

objects = pd.Series([str(i) for i in soup.find_all('a', 'link-box')])
languages = pd.Series([i[2] for i in objects.str.split('>')]).str.strip('</strong')
articles = pd.Series([i[5] for i in objects.str.split('>')]).str.replace('\xa0', ',').str.strip('+</bdi')

wiki = pd.concat([languages, articles], axis = 1)
wiki.columns = ['languages', 'articles']
wiki

  languages   articles
0   English  5,930,000
1   Español  1,545,000
2       日本語  1,168,000
3   Deutsch  2,343,000
4   Русский  1,568,000
5   Françai  2,139,000
6    Italia  1,552,000
7        中文  1,073,000
8  Portuguê  1,013,000
9    Polski  1,359,000

#### A list with the different kind of datasets available in data.gov.uk

In [14]:
url = 'https://data.gov.uk/'
soup = bs(r.get(url).content, 'lxml')

objects = pd.Series([str(i) for i in soup.find_all('h2')])
datasets = pd.Series([i[2] for i in objects.str.split('"')]).str.strip('>|</a></h2').to_list()
datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Healt',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [15]:
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
soup = bs(r.get(url).content, 'lxml')
objects = pd.Series([str(i) for i in soup.find_all('tr')])
languages = pd.Series([i[5] for i in objects.str.split('>') if i[5] != '\n<th']).str.strip('</a')
pd.DataFrame(languages).head(10)

                 0
0         Mandarin
1          Spanish
2          English
3            Hindi
4          Bengali
5       Portuguese
6          Russian
7         Japanese
8  Western Punjabi
9          Marathi

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [16]:
url = 'https://twitter.com/KimKardashian'
soup = bs(r.get(url).content, 'lxml')

objects = pd.Series([str(i) for i in soup.find_all('p', 'TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')])
tweets = objects.str.strip('<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">|<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/XkFPxpRuz7">pic.twitter.com/XkFPxpRuz7</a></')
tweets

0     I know we are sold out of almost all <a class=...
1     Kim Kardashian is Launching a Scented Candle S...
2     4" lang="und"><img alt="😂" aria-label="Emoji: ...
3     I am obsessed with our <a class="twitter-atrep...
4     y pretty-link js-nav" data-mentioned-user-id="...
5     I’m so excited to announce my new <a class="tw...
6     4" lang="en">Next week is the most intense<a c...
7     Epic happy birthday song by <a class="twitter-...
8                      Kourt’s party was so much fun!!!
9     4" lang="en">We try not to dwell<a class="twit...
10    4" lang="en">BIG FACTS<a class="twitter-timeli...
11    4" lang="en">FACTS<a class="twitter-timeline-l...
12    Kourt got so emotional with all of the Disney ...
13    4" lang="en">Fighting is over don’t worry <img...
14    4" lang="en">Absolutely get mad at all over ag...
15    4" lang="und"><img alt="🤦🏻‍♀️" aria-label="Emo...
16    4" lang="und"><img alt="😂" aria-label="Emoji: ...
17    “fake humanitarian hoe” <a class="twitter-hash...
18    4" lang="en">Don’t get me started!!!<a class="...
19    Literally the second <a class="twitter-atreply...
dtype: object

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [17]:
url = 'https://www.imdb.com/chart/top'
soup = bs(r.get(url).content, 'lxml')

objects = pd.Series([str(i) for i in soup.find_all('td', 'titleColumn')])
director = pd.Series([i[1] for i in objects.str.split('>')]).str.replace('^(?:.|\n)*title="', '').str.replace(' \(dir\.\)(?:.|\n)*$', '')
title = pd.Series([i[2] for i in objects.str.split('>')]).str.strip('</a')
release = pd.Series([i[4] for i in objects.str.split('>')]).str.extract('(\d{4})')

objects = pd.Series([str(i) for i in soup.find_all('td', 'ratingColumn imdbRating')])
stars = pd.Series([i[1] for i in objects.str.split('>')]).str.extract('(\d{1}\.\d{1})')

imdb = pd.concat([title, release, director, stars], axis = 1)
imdb.columns = ['title', 'release', 'director', 'stars']
imdb

,title,release,director,stars
0,The Shawshank Redemption,1994,Frank Darabont,9.2
1,The Godfather,1972,Francis Ford Coppola,9.1
2,The Godfather: Part II,1974,Francis Ford Coppola,9.0
3,The Dark Knight,2008,Christopher Nolan,9.0
4,12 Angry Men,1957,Sidney Lumet,8.9
5,Schindler's List,1993,Steven Spielberg,8.9
6,The Lord of the Rings: The Return of the King,2003,Peter Jackson,8.9
7,Pulp Fiction,1994,Quentin Tarantino,8.9
8,"The Good, the Bad and the Ugly",1966,Sergio Leone,8.8
9,Fight Club,1999,David Fincher,8.8
10,The Lord of the Rings: The Fellowship of the Ring,2001,Peter Jackson,8.8
11,Forrest Gump,1994,Robert Zemeckis,8.8
12,Inception,2010,Christopher Nolan,8.7
13,Star Wars: Episode V - The Empire Strikes Back,1980,Irvin Kershner,8.7
14,The Lord of the Rings: The Two Towers,2002,Peter Jackson,8.7
15,The Matrix,1999,Lana Wachowski,8.6
16,One Flew Over the Cuckoo's Nest,1975,Milos Forman,8.6
17,Goodfellas,1990,Martin Scorsese,8.6
18,Seven Samurai,1954,Akira Kurosawa,8.6
19,Se7en,1995,David Fincher,8.6
20,City of God,2002,Fernando Meirelles,8.6
21,Life Is Beautiful,1997,Roberto Benigni,8.6
22,The Silence of the Lambs,1991,Jonathan Demme,8.6
23,Star Wars: Episode IV - A New Hope,1977,George Lucas,8.6
24,It's a Wonderful Life,1946,Frank Capra,8.6
25,Saving Private Ryan,1998,Steven Spielberg,8.5
26,Spirited Away,2001,Hayao Miyazaki,8.5
27,The Green Mile,1999,Frank Darabont,8.5
28,Harakiri,1962,Masaki Kobayashi,8.5
29,Léon: The Professional,1994,Luc Besson,8.5
...,...,...,...,...
220,Dead Poets Society,1989,Peter Weir,8.0
221,Rebecc,1940,Alfred Hitchcock,8.0
222,Toy Story 4,2019,Josh Cooley,8.0
223,Rocky,1976,John G. Avildsen,8.0
224,Gangs of Wasseypur,2012,Anurag Kashyap,8.0
225,"Monsters, Inc.",2001,Pete Docter,8.0
226,It Happened One Night,1934,Frank Capra,8.0
227,Lagaan: Once Upon a Time in Indi,2001,Ashutosh Gowariker,8.0
228,La Haine,1995,Mathieu Kassovitz,8.0
229,The Handmaiden,2016,Chan-wook Park,8.0
230,Munna Bhai M.B.B.S.,2003,Rajkumar Hirani,8.0
231,The Exterminating Angel,1962,Luis Buñuel,8.0
232,The Princess Bride,1987,Rob Reiner,8.0
233,PK,2014,Rajkumar Hirani,8.0
234,Swades,2004,Ashutosh Gowariker,8.0
235,Butch Cassidy and the Sundance Kid,1969,George Roy Hill,8.0
236,The Help,2011,Tate Taylor,8.0
237,Before Sunset,2004,Richard Linklater,8.0
238,Drishyam,2015,Nishikant Kamat,8.0
239,Akir,1988,Katsuhiro Ôtomo,8.0
240,"Paris, Texas",1984,Wim Wenders,8.0
241,The Terminator,1984,James Cameron,8.0
242,In the Mood for Love,2000,Kar-Wai Wong,8.0
243,Guardians of the Galaxy,2014,James Gunn,8.0
244,Infernal Affairs,2002,Andrew Lau Wai-Keung,8.0
245,A Wednesday,2008,Neeraj Pandey,8.0
246,The Battle of Algiers,1966,Gillo Pontecorvo,8.0
247,La leggenda del pianista sull'oceano,1998,Giuseppe Tornatore,8.0
248,Aladdin,1992,Ron Clements,8.0
249,Kis Uykusu,2014,Nuri Bilge Ceylan,8.0

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [95]:
url = 'http://www.imdb.com/chart/top'
soup = bs(r.get(url).content, 'lxml')

objects = pd.Series([str(i) for i in soup.find_all('td', 'posterColumn')])
links = ('https://www.imdb.com' + pd.Series([i[11] for i in objects.str.split('>')]).str.strip('\n<a href="')).to_list()
randoms = random.sample(links, 10)

title = []
year = []
summary = []

for i in randoms:
    soup = bs(r.get(i).content, 'lxml')
    title.append(str(soup.find_all('h1', '')).split('>')[1].replace('\xa0<span id="titleYear"', ''))
    year.append(str(soup.find_all('span', {'id': 'titleYear'})).split('>')[2].replace('</a', ''))
    summary.append(re.sub('\n +</div$', '', re.sub('^\n +', '', str(soup.find_all('div', 'summary_text')).split('>')[1])))

pd.DataFrame({'title': title, 'year': year, 'summary': summary})

,title,year,summary
0,Fight Club,1999,An insomniac office worker and a devil-may-car...
1,Alien,1979,After a space merchant vessel perceives an unk...
2,Pulp Fiction,1994,"The lives of two mob hitmen, a boxer, a gangst..."
3,Hotel Rwanda,2004,Paul Rusesabagina was a hotel manager who hous...
4,Kill Bill: Vol. 1,2003,"After awakening from a four-year coma, a forme..."
5,Rear Window,1954,A wheelchair-bound photographer spies on his n...
6,The Hunt,2012,"A teacher lives a lonely life, all the while s..."
7,The Matrix,1999,A computer hacker learns from mysterious rebel...
8,Rebecca,1940,A self-conscious woman juggles adjusting to he...
9,Nausicaä of the Valley of the Wind,1984,Warrior and pacifist Princess Nausicaä despera...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code