In [2]:
import numpy as np
import pandas as pd

In [6]:
np.random.seed(1000)
seasons = pd.DataFrame(np.random.random((10, 4)), columns = ['winter', 'spring', 'summer', 'autumn'])
lookup = ['summer', 'winter', 'spring', 'summer', 'autumn', 'winter', 'winter', 'spring', 'summer', 'summer'] 
seasons['lookupValues'] = seasons.lookup(seasons.index, lookup)
seasons

     winter    spring    summer    autumn  lookupValues
0  0.653590  0.115007  0.950283  0.482191      0.950283
1  0.872475  0.212333  0.040710  0.397194      0.872475
2  0.233132  0.841741  0.207082  0.742470      0.841741
3  0.392154  0.182257  0.743539  0.069582      0.743539
4  0.885337  0.952644  0.931143  0.415431      0.415431
5  0.028982  0.982027  0.339638  0.706687      0.028982
6  0.361877  0.035106  0.855058  0.657254      0.361877
7  0.765683  0.554087  0.885093  0.904198      0.554087
8  0.010422  0.074557  0.244629  0.133305      0.244629
9  0.697925  0.398205  0.883122  0.181008      0.883122

In [7]:
np.random.seed(1000)
seasons = pd.DataFrame(np.random.random((10, 4)), columns = ['winter', 'spring', 'summer', 'autumn'])
lookup = ['summer', 'winter', 'spring', 'summer'] 
seasons = seasons[1:5]
seasons['lookupValues'] = seasons.lookup(seasons.index, lookup)
seasons

     winter    spring    summer    autumn  lookupValues
1  0.872475  0.212333  0.040710  0.397194      0.040710
2  0.233132  0.841741  0.207082  0.742470      0.233132
3  0.392154  0.182257  0.743539  0.069582      0.182257
4  0.885337  0.952644  0.931143  0.415431      0.931143

In [8]:
np.random.seed(5)
seasons = pd.DataFrame(np.random.random((10, 4)), columns = ['winter', 'spring', 'summer', 'autumn'])
seasons.get(seasons.winter > .5)

     winter    spring    summer    autumn
5  0.599929  0.265819  0.284686  0.253588
7  0.960227  0.188415  0.024307  0.204556
8  0.699844  0.779515  0.022933  0.577663